<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/masterLayout}"
>
<head>
    <th:block th:replace="~{fragments/meta}"></th:block>
    <title>All Users</title>
    <th:block th:replace="~{fragments/style}"></th:block>
    <style>
        .article_img img{
            width: 100px;
        }
    </style>
</head>
<body>

<div th:replace="~{fragments/navbar}"></div>

<main layout:fragment="main-content">
    <section>
    <div class="container mt-4">
        <h2 th:text="|All Users : ${authors.size()} |"></h2>
        <div class="row g-4" th:insert="~{fragments/card:: Card-onlyView(${authors})}">
        </div>
    </div>
    </div>
    </section>
</main>

<div th:replace="~{fragments/footer}"></div>
<th:block th:replace="~{fragments/script}"></th:block>
</body>
</html>