<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/masterLayout}"
>
<head>
    <th:block th:replace="~{fragments/meta}"></th:block>
    <th:block th:replace="~{fragments/style}"></th:block>
    <title>Post</title>
<style>
    body {
        margin: 0;
        height: 90vh;
    }
    .container{
        background-color: darkgoldenrod;
        padding: 1rem;
        border-radius: 10px ;
        width: 1000px;
        height: 420px;
    }
    .profile-section img{
        width: 300px;
    }

    .input-section{
        width: 600px;
    }
</style>
</head>
<body>
<main layout:fragment="main-content" style="height: 648px">
<div class="container h-100 mt-5" >
    <form th:object="${articles}" th:action="@{/handleAddArticle}" method="POST" enctype="multipart/form-data" >
        <div class="d-flex bg-light py-4 rounded justify-content-center" style="height: 615px">
            <div class="profile-section d-flex flex-column align-items-center">
                <img id="output-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/640px-No-Image-Placeholder.svg.png" alt="profile image " style="margin-top: 65px">
                <input class="form-control" type="file" name="file" onchange="loadFile(event)">
            </div>
            <div class="input-section ms-3" style="margin-top: 65px">
                <h3> New Post </h3>
                <div class="mt-4">
                    <label for="articleTitle" class="fs-5"> Article Title </label>
                    <input class="form-control" id="articleTitle" type="text" th:field="*{title}">
                    <div class="form-text text-danger" th:errors="*{title}"></div>
                </div>
                <div class="d-flex justify-content-between mt-4">

                    <div>
                        <label for="authorSelect" class="fs-5"> Choose Author</label>
                        <select id="authorSelect" th:field="*{authorID}" class="form-select">
                            <option value="0">Choose Author</option>
                            <option th:each="author : ${authors}"  th:value="${author.id}" th:text="${author.fullname}"></option>

                        </select>
                    </div>
                    <div>
                        <label for="categorySelect" class="fs-5"> Choose Categories</label>
                        <select id="categorySelect" th:field="*{categoryID}" class="form-select">
                            <option value="0">Choose Categories</option>
                            <option th:each="category : ${categories}"  th:value="${category.id}" th:text="${category.category}"></option>

                        </select>
                    </div>

                </div>

                <label for="articleDescription" class="fs-5 mt-4"> Article Description </label>
                <textarea id="articleDescription" th:field="*{description}"
                          class="form-control "></textarea>
                <div class="form-text text-danger " th:errors="*{description}"></div>

                <div class="d-flex justify-content-between mt-4">
                    <button class="btn btn-warning" type="submit" th:href="@{/allArticle}">Post Article</button>
                    <button class="btn btn-danger">Cancel</button>
                </div>

            </div>
        </div>
    </form>
</div>
</main>

<script>
    function loadFile(event){
        let image = document.getElementById("output-image")
        image.src = URL.createObjectURL(event.target.files[0])
    }
</script>
<div th:replace="~{fragments/footer}"></div>
<th:block th:replace="~{fragments/script}"></th:block>

</body>
</html>