<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/masterLayout}"
>
<head>
    <th:block th:replace="~{fragments/meta}"></th:block>
    <title>Users Profile</title>
    <th:block th:replace="~{fragments/style}"></th:block>
</head>
<body>
<div th:replace="~{fragments/navbar}"></div>
<main layout:fragment="main-content">

        <div th:object="${profileId}">
            <img th:src="*{bgImg}" alt="" class="object-fit-cover" style="height: 300px; width: 100%"/>
            <div class="container mt-5">

            </div>
        </div>

</main>

<div th:replace="~{fragments/footer}"></div>
<th:block th:replace="~{fragments/script}"></th:block>
</body>
</html>